#container5{
    width: 94%;
    margin: 3%;
    background-color: rgba(168,171,181,0.19);
    border:solid slateblue;
    border-radius: 10px;
}

h1{
    font-size: 1.5vmax;
    height: 2vmax;
    width: 15vmax;
    margin: 0px auto;
    padding: 0px;
    border-bottom: 1px solid slateblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bolder;
    text-align: center;
}

.mchange{
    width: 100%;
}

.inner{
    width: 100%;
    height: 20vmax;
    border-bottom: 1px solid slateblue;
}

.inner img {
    float: left;
    margin: 2vmax;
    border: slateblue solid 1px;
    border-radius: 15px;
    width: 15vmax;
    height: 15vmax;
    object-fit: cover;
}

.brief{
    width: 60vmax;
    float: left;
    margin: 2vmax;
}

.title{
    font-weight: bolder;
    font-size: 3vmax;
}

.brief p{
    line-height: 2vmax;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 1.5vmax;
}

#numbers3{
    text-align: center;
}

#numbers3 a{
    margin-left: 1%;
    padding: 0px;
    overflow: hidden;
    display: inline;
    font-size: 1.0vmax;
    color: blue;
}

#numbers3 a:hover {
    color: crimson;
}

#numbers3 a:active {
    color: green;
}

.button5{
    width: 20%;
    height: 20%;
    float: left;
    margin-left: 1%;
    font-size: 1.2vmax;
    font-weight: bolder;
    background-color: beige;
    border: teal solid 1px;
    border-radius: 15px;
    color: red;
}